* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
  background: #191919;
}

.app {
  background: #e5e5e5;
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
  overflow-x: hidden;
}

.app.warm {
  background: #191919;
}

.sun {
  width: 200%;
  margin-top: -150%;
  margin-left: -50%;
  filter: drop-shadow(0px 10px 7px rgb( 0 0 0 / 0.9));
}

.sun1 {
  display: none;
}
.st0 {
  fill: #ffe4ae;
}
.st1 {
  fill: #ffc75b;
}
.st2 {
  fill: #ffb015;
}
main {
  min-height: 90vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 10px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  text-align: center;
  border: none;
  outline: none;
  background-color: #292929;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
  font-weight: 700;
  color: white;
  font-size: 15px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: #393939;
}
::placeholder {
  color: white;
  opacity: 0.9;
}
input:focus::placeholder {
  opacity: 0;
}
.location-box .location {
  color: white;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  padding: 5px 15px;
  border-radius: 20px;
}
.direction .arrow {
  float: left;
  margin-right: 5px;
}
.date {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  top: 40px;
}


.weather-box {
  text-align: center;
  margin-top: 50px;
}
.minmax{
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.9;
}
.temp {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

.weather {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.9;
}
.weatherfooter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  margin-top: -5px;
  opacity: 0.9;
}
.weatherfooter .weatherdetails {
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  padding: 0px 0px;
  border-radius: 20px;
}
.weatherfooter .weatherdetailsicon {
  width: 45px;
}
.w-icon{
  width: 100%;
  float: left;
}
.week{
  margin-top: 170px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: 600;
}
.day, .max{
  opacity: 0.8;
}
.min{
  opacity: 0.2;
}
.max, .min{
  padding:3px;
}
.weekbar{
  display:grid;
}
.week-icon{
  display:block;
  margin: 0px auto;
  width: 80%;
}
.footer{
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.1;
}
